body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(https://media.istockphoto.com/id/1394712576/photo/message-speech-bubble-icons-concept-of-social-media-messages-chatbot-notification-banner.jpg?b=1&s=170667a&w=0&k=20&c=JQCGj4hszef7Qs5zJOcgTRzZAvdcsMGT-Xu07lB396c=);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}


.appBar{
  display: flex;
  border-radius: 15;
  /* margin: 10px 100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  /* border: 2px solid white; */
  width: 95%;
  margin: auto;
}

.wrapper{
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  width: 100vw;
}

.root{
  display: flex;
  flex-direction: column;
}
.container{
  width: 97%;
  margin: 35px auto;
  padding: 0;
  /* border: 2px solid white; */

}
.paper{
  
  margin: auto;
  padding:10px 20px;
  /* border: 2px solid black; */
}

.gridContainer{
  width: 97%;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid white; */
margin: auto;
}

.padding{
  padding: 20;
}

.margin{
  margin-top: 20,
}
.video{
  width: 70%;
  border-radius: 8px;
  border: 5px solid white;
}

.infoContainer{
  width: 40%;
  margin: auto;
  display: flex;
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
}
.info{
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  gap: 10px;
}
input{
  height: 25px;
  border-radius: 8px;
  background-color: rgb(65, 63, 63);
  color: white;
  padding-left: 10px;

}
.infobtn{
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 12px;
}

